.button {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  padding: $s-size;
  text-decoration: none;
}

.add-edit-btn {
  padding: 2rem;
  max-width: 15rem;
}

.button--link {
  background: none;
}

.button--secondary {
  background: #888;
}

.page_sub--button {
   position:absolute; right:0;
}
