.detail_modal{
  align-items: center;
  background-color: rgba(255, 255, 255, 0.25);
  display: flex;
  position:absolute;top: 8rem; left: 0rem; right: 0rem; bottom: 0rem;
  justify-content: flex-end;
  transition: opacity 200ms ease-in-out;
}

.dropdownModal {
  margin:0 auto;
  display: block;

}

.modal {
  background: white;
  color: $dark-blue;
  max-width: 30rem;
  text-align: center;
  @media (min-width: 65rem) {
    position: relative;
    bottom: 22rem;
    right: 26rem;
  }
}

.drop_modal__title {

}

.modal__body {
  font-size: 2rem;
  font-weight: 200;
  margin: 0 0 $l-size 0;
  word-break: break-all;
}

.modalButton {
  background: $blue;
  border: none;
  color: white;
  display: inline-block;;
  font-size: $font-size-large;
  font-weight: 300;
  line-height: 1;
  margin: 1rem;
  padding: $s-size;
  text-decoration: none;
}
