.edit_name_content{
  position: relative;
  left: 23rem;
}


.edit_input-name {
  max-width: 13rem;
}

.savename_button {
  position: absolute;
  top: 13rem;
  left: 13rem;
  font-size: $font-size-small
}
