.input-group {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: $m-size;
  @media (min-width: $desktop-breakpoint + 1) {
    flex-direction: row;
    margin: $m-size 0 $l-size 0;
  }
  @media (max-width: $desktop-breakpoint) {
    flex-direction: column;
    margin: $m-size 0 $l-size 0;
  }
}

.input-group__item {
  margin-bottom: $s-size;
  @media (min-width: $desktop-breakpoint) {
    margin: $s-size $s-size 0 0;
  }
}
